<br>

<div class="container">
  <h2 class="page-title">Add a page</h2>
  <a href="#" class="btn btn-primary">Back to all pages</a>
  <br><br>

  <form #addPageForm="ngForm" (ngSubmit)="addPage(addPageForm.value)" novalidate autocomplete="off">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Title of Page">
    </div>

    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" name="slug" value="{{slug}}" placeholder="Slug">
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea name="content" class="form-control" cols="30" rows="5" placeholder="Content of Page">{{content}}</textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
