<div class="container">
  <h2 class="page-title">Add a page</h2>
  <a [routerLink]="['/admin/pages']" class="btn btn-primary">Back to all pages</a>
  <br><br>

  <form #addPageForm="ngForm" (ngSubmit)="addPage(addPageForm)" novalidate autocomplete="off">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="Title of Page" name="title" [(ngModel)]="model.title" #title="ngModel" required>
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Page title is required</div>
    </div>

    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" placeholder="Slug" name="slug" [(ngModel)]="model.slug">
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" cols="30" rows="5" placeholder="Content of Page" name="content"
        [(ngModel)]="model.content" #content="ngModel" required></textarea>
      <div [hidden]="content.valid || content.pristine" class="alert alert-danger">Content description is required</div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="addPageForm.invalid">Submit</button>
  </form>
</div>
