<!-- <app-admin-header></app-admin-header> -->

<br>

<div class="container">
  <h2 class="page-title">Categories</h2>
  <a routerLink="./add-category" class="btn btn-primary">Add a new category</a>
  <br><br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.title }}</td>
        <!-- <td class="btn btn-primary" (click)="getCategory(category)">Edit</td>
        <td class="btn btn-danger float-lg-right" (click)="deleteCategory(category)">Delete</td> -->
      </tr>
    </tbody>
  </table>

</div>

<router-outlet></router-outlet>

<!-- <app-admin-footer></app-admin-footer> -->
