<div class="container">
  <h2 class="page-title">Edit page</h2>
  <a routerLink="../" class="btn btn-primary">Back to all pages</a>
  <br><br>

  <form #editPageForm="ngForm" (ngSubmit)="editPage(editPageForm)" novalidate autocomplete="off">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="Title of Page" [(ngModel)]="page.title" name="title"
        #title="ngModel" required>
        <!-- Error div -->
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Page title is required</div>
    </div>

    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" placeholder="Slug" [(ngModel)]="page.slug" name="slug">
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" cols="30" rows="5" placeholder="Content of Page" [(ngModel)]="page.content"
        name="content" #content="ngModel" required></textarea>
        <!-- Error div -->
      <div [hidden]="content.valid || content.pristine" class="alert alert-danger">Content description is required</div>
    </div>

    <input type="hidden" [(ngModel)]="page._id" name="_id">
    <button type="submit" class="btn btn-success" [disabled]="editPageForm.invalid">Submit</button>
  </form>
</div>
